body{
    margin: 0;
    line-height: 1.1;
    background-color: rgb(90, 89, 89);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #e6e6e6;
    font-size: 3rem;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    max-width: 500px;
    background-color: white;
    border: 1px solid black;
    margin: 2rem auto;
    justify-content: center;
    aspect-ratio: 1/1;
}
.row{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.button{
    display: flex;
    border: 1px solid black;
    height: 100%;
    width: 25%;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#display{
    width: 100%;
    height: 10%;
    border: 1px solid black;
    background-color: #e6e6e6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    font-size: 1.6rem;
    box-sizing: border-box;
    
}
#zero{
    width: 50%;
}
#equal, #decimal-point{
    width: 25%;
}

.button:hover{
    background-color: #477d96;
    transform: scale(1.05);
    box-shadow: 0 0 1vh rgba(red, green, rgb(9, 9, 75), alpha);
    transition: .05s;
    color: white;
    font-size: 3rem;
}
p{
    color: white;
    font-size: 2em;
    padding: 4vh auto;
    margin: 4% auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: auto 10%;

}